* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F8F8F8;
    font-family: 'Golos Text', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-inner {
    width: 100%;
    max-width: 960px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%; 
    margin-top: 4%;
    margin-bottom: 4%;
}

.navigation a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(90, 90, 90, 0.1);
    border-radius: 40px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.navigation a:hover {
    background: #639ee6;
    color: white;
    transition: 1s;
    box-shadow: 0px 5px 20px rgba(108, 92, 255, 0.415);

}

.nav-grid {
    display: grid;
    grid-template-columns: 60px 100px;
}

.navigation-txt-name a{
    text-decoration: none;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000;
}

.navigation-txt-name a:hover {
    color: #639ee6;
    transition: 0.6s;
}
.navigation-txt {
    position: relative;
    top: 6px;
}

.navigation-txt div{
    font-size: 13px;
}

.navigation-exit a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.navigation-exit a:hover {
    color: red;
    transition: 0.7s;
}






.search-box input{
    background: white;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    border: none;
    width: 450px;
    padding-left: 30px;
    box-shadow: 0px 5px 20px rgba(90, 90, 90, 0.1);
}


/* Слайдер */

.swiper {
    width: 1300px;
    height: 300px;
    margin-bottom: 100px;
    border-radius: 50px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.swiper-slide iframe {
    width: 1300px;
    height: 300px;
}


.swiper-button-next, .swiper-rt1 .swiper-button-prev {
    right: auto;
}

.swiper-button-prev, .swiper-rt1 .swiper-button-next {
    left: auto;
}




.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}




.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    width: 239px;
    height: 225px;
    background: radial-gradient(145.29% 136.5% at 3.03% -7.23%, #3BFFFF 0%, #8DC1FF 81.79%);
    border-radius: 50px;
    margin-top: 20px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 80px;
    margin-right: 80px;
}

.button-container a{
    padding: 12px;
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 5px 20px rgba(90, 90, 90, 0.1);
}

.button-container a:hover {
    transform: scale(1.05);
    transition: 1s;
    background: #639ee6;
    color: white;
}


.txt-proj h1{
    font-family: 'Golos Text', sans-serif;
    margin-left: 6%;
    margin-bottom: 2%;
}

.top-h1 {
    font-size: 16px;
}

.top-txt {
    font-size: 13px;
    color: #808080;
}






.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-container {
    max-width: 1440px;
    width: 100%;
}







/* Регистрация */

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-container {
    max-width: 415px;
    width: 100%;
    background: radial-gradient(97.69% 94.8% at 2.31% 3.73%, rgba(0, 225, 255, 0.65) 0%, rgba(0, 92, 235, 0.65) 100%);
    border-radius: 30px;
    padding: 50px;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container input{
    height: 40px;
    padding-left: 20px;
    margin-top: 10px;
    border: none;
    background: none;
    border-bottom: 2px solid white;
}

.register-container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-family: 'Golos Text';
    font-style: normal;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

.txt {
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
    padding-left: 20px;
}

.buttons-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.buttons-btn a{
    text-decoration: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    transition: 0.7s;
}

.button-txt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-txt a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.button-txt a:hover {
    color: #e4e4e4;
    transition: 1s;
}

.button-txt {
    color: white;
    font-size: 14px;
}



/* Картинка */
.bg-reg {
    background-image: url(img/wave.png);
    background-size: cover;
}

.auth_input::placeholder { /* Most modern browsers support this now. */
    color:    rgb(255, 255, 255);
 }

 textarea:focus, input:focus{
    outline: none;
}







.choice-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .choice-container span{
    text-transform: uppercase;
    display: block;
  }
  
  .choice-txt{
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 30px;
    position: relative;
    animation: text 2.2s 1;
    
  }
  
  .choice_card input{
    width: 240px;
  }
  
  @keyframes text{
    0%{
        color: #aa90ff;
      margin-bottom: -10000px;
    }
  }

  .choice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }








/* Профиль */
.profil {
    display: grid;
    grid-template-columns: 0.25fr 1.75fr;
    margin-left: 5%;
}

.profil_name{
    margin-top: 40px;
}

.shapka {
    display: flex;
    align-items: center;
    justify-content: center;
}
.shapka-container {
    background: radial-gradient(145.29% 136.5% at 3.03% -7.23%, #3BFFFF 0%, #8DC1FF 81.79%);
    width: 1290px;
    height: 286px;
    border-radius: 20px;
}
